// This file was generated automaticly, so don't modify it!
.is{
	background: url("/images/sprites/is-dd7e3.png") no-repeat 0 0;
	vertical-align:text-top;
	display:inline-block;
}
@media @highdensity {
	.is{
		background: url("/images/sprites/is-2x-dd7e3.png") no-repeat 0 0;
	.background-size(20px 83px);
		vertical-align:text-top;
		display:inline-block;
	}
}
.is-com{
	width: 20px;
	height: 20px;
	background-position: 0px 0px;
}
.is-lock{
	width: 11px;
	height: 11px;
	background-position: 0px -21px;
}
.is-shc-fb{
	width: 16px;
	height: 16px;
	background-position: 0px -33px;
}
.is-shc-tw{
	width: 16px;
	height: 16px;
	background-position: 0px -50px;
}
.is-shc-vk{
	width: 16px;
	height: 16px;
	background-position: 0px -67px;
}
.pc{
	background: url("/images/sprites/pc-b4fb2.png") no-repeat 0 0;
	vertical-align:text-top;
	display:inline-block;
}
@media @highdensity {
	.pc{
		background: url("/images/sprites/pc-2x-b4fb2.png") no-repeat 0 0;
	.background-size(32px 164px);
		vertical-align:text-top;
		display:inline-block;
	}
}
.pc-cards{
	width: 32px;
	height: 32px;
	background-position: 0px 0px;
}
.pc-emoney{
	width: 32px;
	height: 32px;
	background-position: 0px -33px;
}
.pc-ibank{
	width: 32px;
	height: 32px;
	background-position: 0px -66px;
}
.pc-mobile{
	width: 32px;
	height: 32px;
	background-position: 0px -99px;
}
.pc-salon{
	width: 32px;
	height: 32px;
	background-position: 0px -132px;
}
.ps{
	background: url("/images/sprites/ps-29d80.png") no-repeat 0 0;
	vertical-align:text-top;
	display:inline-block;
}
.ps-bitcoin{
	width: 16px;
	height: 16px;
	background-position: 0px 0px;
}
.ps-bpetr{
	width: 16px;
	height: 16px;
	background-position: 0px -18px;
}
.ps-bvtb24{
	width: 16px;
	height: 16px;
	background-position: 0px -36px;
}
.ps-card_platzru{
	width: 16px;
	height: 16px;
	background-position: 0px -54px;
}
.ps-elex{
	width: 16px;
	height: 16px;
	background-position: 0px -72px;
}
.ps-euronet{
	width: 16px;
	height: 16px;
	background-position: 0px -90px;
}
.ps-ialfa{
	width: 16px;
	height: 16px;
	background-position: 0px -108px;
}
.ps-ihandy{
	width: 16px;
	height: 16px;
	background-position: 0px -126px;
}
.ps-inteza{
	width: 16px;
	height: 16px;
	background-position: 0px -144px;
}
.ps-ipsb{
	width: 16px;
	height: 16px;
	background-position: 0px -162px;
}
.ps-irusstd{
	width: 16px;
	height: 16px;
	background-position: 0px -180px;
}
.ps-kasnet{
	width: 16px;
	height: 16px;
	background-position: 0px -198px;
}
.ps-mob_beeline{
	width: 16px;
	height: 16px;
	background-position: 0px -216px;
}
.ps-mob_megafon{
	width: 16px;
	height: 16px;
	background-position: 0px -234px;
}
.ps-mob_mts{
	width: 16px;
	height: 16px;
	background-position: 0px -252px;
}
.ps-mob_tele2{
	width: 16px;
	height: 16px;
	background-position: 0px -270px;
}
.ps-mobelement{
	width: 16px;
	height: 16px;
	background-position: 0px -288px;
}
.ps-paypal{
	width: 16px;
	height: 16px;
	background-position: 0px -306px;
}
.ps-qiwi{
	width: 16px;
	height: 16px;
	background-position: 0px -324px;
}
.ps-rtcomm{
	width: 16px;
	height: 16px;
	background-position: 0px -342px;
}
.ps-svyaznoy{
	width: 16px;
	height: 16px;
	background-position: 0px -360px;
}
.ps-telem{
	width: 16px;
	height: 16px;
	background-position: 0px -378px;
}
.ps-w1{
	width: 16px;
	height: 16px;
	background-position: 0px -396px;
}
.ps-wme{
	width: 16px;
	height: 16px;
	background-position: 0px -414px;
}
.ps-wmr{
	width: 16px;
	height: 16px;
	background-position: 0px -432px;
}
.ps-wmz{
	width: 16px;
	height: 16px;
	background-position: 0px -450px;
}
.ps-ym{
	width: 16px;
	height: 16px;
	background-position: 0px -468px;
}
.qi{
	background: url("/images/sprites/qi-c28dd.png") no-repeat 0 0;
	vertical-align:text-top;
	display:inline-block;
}
@media @highdensity {
	.qi{
		background: url("/images/sprites/qi-2x-c28dd.png") no-repeat 0 0;
	.background-size(38px 323px);
		vertical-align:text-top;
		display:inline-block;
	}
}
.qi-add{
	width: 14px;
	height: 14px;
	background-position: 0px 0px;
}
.qi-add_open{
	width: 14px;
	height: 14px;
	background-position: 0px -15px;
}
.qi-auth-close{
	width: 38px;
	height: 38px;
	background-position: 0px -30px;
}
.qi-balance{
	width: 20px;
	height: 20px;
	background-position: 0px -69px;
}
.qi-dclose{
	width: 14px;
	height: 14px;
	background-position: 0px -90px;
}
.qi-del{
	width: 14px;
	height: 14px;
	background-position: 0px -105px;
}
.qi-logout{
	width: 20px;
	height: 20px;
	background-position: 0px -120px;
}
.qi-my-items{
	width: 20px;
	height: 20px;
	background-position: 0px -141px;
}
.qi-popup-close{
	width: 24px;
	height: 24px;
	background-position: 0px -162px;
}
.qi-profile{
	width: 20px;
	height: 20px;
	background-position: 0px -187px;
}
.qi-share-fb{
	width: 28px;
	height: 28px;
	background-position: 0px -208px;
}
.qi-share-link{
	width: 28px;
	height: 28px;
	background-position: 0px -237px;
}
.qi-share-tw{
	width: 28px;
	height: 28px;
	background-position: 0px -266px;
}
.qi-share-vk{
	width: 28px;
	height: 28px;
	background-position: 0px -295px;
}
