.body__page-finish {
	min-height: 100%;
	height: 100%;
	background-color: @white;

	.container {
		width: 100%;
	}
}

.page-finish {
	.user-select(none);
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: @grayLighter url(/images/ani/spinner.gif) center center no-repeat;
}

.finish {
	&__table {
		font-family: @sans0FontFamily;
		height: 100%;
		width: 100%;
		border-spacing: 0;
		border-collapse: collapse;
		position: relative;

		td {
			vertical-align: middle;
			padding: 0;
		}
	}
}

.receipt__form-add-comment {
	display: none !important;
}

.invoice-state__cont {
	display: none;
	// .user-select(none);
	// cursor: default;
	margin: 74px 40px 20px;
}
	.invoice-state__item {
		display: none;
		text-align: center;
	}

.state0 {
	.invoice-state__cont {
		display: block;
	}
		.invoice-state__0 {
			display: block;
		}
}

.state1 {
	.invoice-state__cont {
		display: block;
	}
		.invoice-state__1 {
			display: block;
		}
}

.state3 {
	.invoice-state__cont {
		display: block;
		margin: 20px 40px 20px;
	}
		.invoice-state__3 {
			display: block;
		}

	.page-finish {
		background-image: none;
	}
}