.body__page-item {
	min-height: 100%;
	height: 100%;
	background-color: @white;

	.container {
		width: 100%;
	}
}

.item {
	.user-select(none);
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;

	.qst__inp-cont {
		padding: 13px 14px 12px;
		height: 14px;
	}

	.qst__inp-cont-ta {
		height: auto;
	}
}


// Errors
.item__error {
	font-size: 13px;
	line-height: 14px;
	color: @red;
	.transition(all .3s);
	opacity: 0;
	display: inline-block;
}

.error {
	.item__error {
		opacity: 1;
		padding-top: 10px;
	}
}


.showcase {
	&__table {
		font-family: @sans0FontFamily;
		height: 100%;
		width: 100%;
		border-spacing: 0;
		border-collapse: collapse;
		background: @grayLighter;
		position: relative;

		td {
			vertical-align: middle;
			padding: 0;
		}
	}
}